/* bootstrap 4 overrides */

//navigation tabs/links overrides
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-bg: transparent;

//modal overrides
$close-color: rgb(242,204,48);
$close-font-size: 2rem;
$close-font-weight: 300;