//bootstrap overrides
@import "custom";

//bootstrap
@import "~bootstrap/scss/bootstrap";


body {
    padding-top: 54px;

    background: url('img/pattern.png') black;
    background-size: 40%;
}

.modal {
    background: url('img/pattern.png') rgba(0,0,0,0.5);
    background-size: 40%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar{
	padding-top: 0;
    background-color: transparent;
	
	.container{
		background-color: rgba(0,0,0,0.5);
	}
}

.navbar-brand{
	position: relative;
    padding-left: 1.5em;
    background: url('./img/logo.png') no-repeat;
    width: 6em;
    height: 2em;
    background-size: 60%;
    background-position: center;
    background-position-x: 2em;
}
.navbar-brand::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url('./img/symbol.png') no-repeat;
    width: 2em;
    height: 100%;
    background-size: 60%;
    background-position: center;
}



.section-beers-and-crates{
    background-color: rgb(247,247,247);
	
	.content-title{
		color: black;
	}
}
.section-beers-and-crates .container-beer-list{
    overflow-x: auto;
}



h4{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 1.3em;
}

.display-1{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.btn-join{
    border-radius: 2em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background-color: rgb(255,200,10);
    border: none;
    
    :hover > &{
        color: white;
        background-color: rgb(235,180,10);
        border: none;
    }
}


.beer-item{
	position: relative;
	height: 14.1em;
	background-color: white;
	overflow: hidden;
    cursor: move;
	margin-bottom: 1em;
	
	@media (min-width: 768px) {
		height: 8em;
	}
	
	.wireframe{
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('./img/card-wireframe.png') white no-repeat;
		background-size: 100% 100%;
		z-index: 2;
	}
	.content{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	:hover > &{
		box-shadow: 0px 5px 5px #888888;
	}
	
	.img-part{
		width: 50%;
		height: 85%;
		float: left;
		pointer-events: none;
	}
	
	img{
		width: 1.5em;
		max-height: 6em;
		margin-left: 1em;
		
		
	}
	
	.buttons-part{
		height: 15%;
		width: 100%;
		
		.favorite-indicator{
			background: url('./img/heart outline.png') no-repeat;
			background-size: 100%;
			width: 0.5em;
			margin-left: 0.25em;
			height: 0.5em;
			margin-top: 0.25em;
			cursor: pointer;
			
			&.is-favorite{
				background: url('./img/heart solid.png') no-repeat;
				background-size: 100%;
			}
		}
	}
	
	.info-part{
		width: 50%;
		height: 85%;
		float: right;
		
		.name{
			font-size: 0.6em;
			font-weight: 500;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 100%;
			height: 3em;
		}
	}
	
	.ibu-abv-info{
		font-size: 0.7em;
		
		.label{
			display: inline-block;
			width: 40%;
			color: rgb(190,190,190);
			font-size: 0.9em;
		}
		.value{
			display: inline-block;
			width: 60%;
			color: black;
			float: right;
			text-align: center;
		}
	}
}

.top-navigation{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
    .nav-item{
        color: white !important;
        margin-left: 2em;
        
        &.link-join{
            border: 2px solid rgb(255,200,10);
            border-radius: 2.5em;
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    .nav-link{
        color: white !important;
    }
    .nav-link.active{
        /*color: #000 !important;*/
        background-color: transparent !important;
        text-decoration: none;
        font-weight: bold;
        border-radius:0px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255,200,10);
    }
}


.crate-tabs{
	border: none;
}
.crate-tabs .nav-link{
	padding: 0;
	border: none;
    color: lightgrey;
    
    &.active{
        color: #000 !important;
        background-color: transparent !important;
        text-decoration: none;
        font-weight: bold;
        border-radius:0px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255,200,10);
    }
}

.crate-container{
	position: relative;
}
.crate{
	position: relative;
	background: url(./img/crate90.png) no-repeat;
	background-size: 100%;
    width: 100%;
    height: 345px;
	max-width: 290px;
	display: inline-block;	
}
.crate-container .beer-sockets{
	background-color: rgba(0,200,0,0.2);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	.beer-socket{
		background-color: rgba(255,0,0,0.2);
		width: 20%;
		height: 25%;
		float: left;
		display: inline-block;
		/*border: 1px solid black;*/
	}
	.beer-socket.full{
		background: url('./img/bottle final@2x.png') no-repeat;
		background-size: 100%;
	}
}




.footer-logo{
	display: inline-block;
	position: relative;
    padding-left: 1.5em;
    background: url('./img/logo.png') no-repeat;
    width: 6em;
    height: 2em;
    background-size: 60%;
    background-position: center;
    background-position-x: 2em;
}
.footer-logo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(./img/symbol.png) no-repeat;
    width: 2em;
    height: 100%;
    background-size: 60%;
    background-position: center;
}
footer a{
	color: white;
}



.popup-beer-info{
    
    .btn-toggle-favorites{
        background: url('./img/heart outline.png') no-repeat;
		background-size: 100%;
		width: 1.5em;
		margin-left: 0.5em;
		height: 1.5em;
		margin-top: 0.5em;
		cursor: pointer;
		
		&.is-favorite{
			background: url('./img/heart solid.png') no-repeat;
			background-size: 100%;
		}
    }
    
    .beer-img{
        height: 20em;
    }
    
    .lbl-name{
        font-weight: 700;
        font-size: 1.5em;
    }
    
    .info-ibu{
        .label{
            display: inline-block;
            color: rgb(159,163,167);
        }
        .value{
            display: inline-block;
        }
    }
    
    .info-abv{
        .label{
            display: inline-block;
            color: rgb(159,163,167);
        }
        .value{
            display: inline-block;
        }
    }
    
    .description{
        color: rgb(159,163,167);
        max-height: 12em;
        overflow: auto;
    }
    
    .btn-add{
        border-radius: 2em;
        text-transform: uppercase;
        text-align: center;
        color: black;
        background-color: rgb(255,200,10);
        border: none;
        font-size: 0.8em;

        :hover > &{
            color: white;
            background-color: rgb(235,180,10);
            border: none;
        }
    }
}
